/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/vendor/
/node_modules/
/public/storage
/public/hot
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*
!.env.testing.example
.phpunit.result.cache
.phpunit.cache
*.log
.DS_Store
Thumbs.db
.env.testing
.env.testing
mogi-first-clone/
